<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Logo"
    src="../assets/flower-lotus.svg"
  />
  <span>Welcome</span>
    <div class="spacer"></div>
    <a href="/home">Home</a>
    <a href="/categories">Categories</a>
    <a href="/about-cbe">About CBE</a>
    <a href="">Log In</a>    
</div>

  <!-- Footer -->
  <footer>
      <a href="" target="_blank" rel="noopener"> Copyright.</a>
      <a href="" target="_blank" rel="noopener"> Contact Us.</a>
  </footer>

<router-outlet></router-outlet>
