<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Logo"
    src="../assets/flower-lotus.svg"
  />
  <span>Welcome</span>
    <div class="spacer"></div>
    <a href="Home" href="">Home</a>
    <a href="">Categories</a>
    <a href="">About Us</a>
    <a href="">Log In</a>    
</div>

<div class="content" role="main">

  <!-- Resources -->
  <h2>Welcome to Tibetan Buddhist Encyclopedia</h2>
  <p>text-text-text</p>

  <div class="card-container">
    <a class="card" rel="noopener" href="">
      <img class="material-icons" width="24" height="24" viewBox="0 0 24 24"
      src = "../assets/article.svg">
      <span>Recent Articles</span>
    </a>

    <a class="card" rel="noopener" href="">
      <img class="material-icons" width="24" height="24" viewBox="0 0 24 24"
      src = "../assets/archive.svg">
      <span>Categories</span>
    </a>

    <a class="card" rel="noopener" href="">
      <img class="material-icons" width="24" height="24" viewBox="0 0 24 24"
      src = "../assets/star.svg">
      <span>Favorite Articles</span>
    </a>

  </div>


  <!-- Footer -->
  <footer>
      <a href="" target="_blank" rel="noopener"> Copyright.</a>
      <a href="" target="_blank" rel="noopener"> Contact Us.</a>
  </footer>
</div>
<router-outlet></router-outlet>
