<div class="about">
    <h1>About TBE</h1>
</div>

<div class="card text-post-card">
    <h2>Progress from the start of the project in 2012 – now</h2>
    <p>
        Since the project was officially launched at the ECAI conference in UC Berkeley in December 2012, 
        the TBE project has grown to become a leading online resource about Buddhism.
    </p>
    <p>
        When searching key Buddhist terms on the internet, the TBE often comes up as one of the top results because of the volume of content, 
        amount of repeat visitors and the constant updating of information on the website.
    </p>
  </div>

  <div class="card text-post-card">
    <h2>Academic Approach</h2>
    <p>
        When compared to traditional Buddhist texts and teachings, 
        the TBE has from the very beginning approached Buddhism from an academic/scientific 
        perspective. Traditional and original texts (sutras, tantras, commentaries, poems, etc.) are included, however, 
        if and where possible, academic explanations and references are given providing an invaluable resource for the majority 
        of the population that is unaware of how to interpret Buddhist texts, 
        in part through learning about the history and context of these valuable texts.
    </p>
    <p>
        Academic learning is predominant in the modern era and if Buddhism wants to effectively reach out to as many engaged people as possible, 
        its core teachings need to be adapted to match the capabilities and preferences of the majority.
    </p>
    <p>
        By no means is TBE discouraging traditional Buddhist studies, on the contrary, the purpose of the TBE project is to provide 
        free information for Buddhist practitioners at every level while at the same time preserving these ancient and valuable Buddhist texts for future contemplation.
    </p>
  </div>

  <div class="card text-post-card">
    <h2>CHINESE 中文 & ENGLISH 英文</h2>
    <p>
        Chinese and English are the two most widely spoken languages in the world, 
        thus the main focus of the TBE is to be developed in those languages.
    </p>
    <p>
        Furthermore, by cross-linking between languages, 
        the TBE creates a unique effect of sharing knowledge between English and Chinese speakers.
    </p>
  </div>

  <div class="card text-post-card">
    <h2>Welcoming All Traditions</h2>
    <p>
        The TBE does not emphasize or promote any tradition of Buddhism over another. 
        The encyclopedia includes but is not limited to the following backgrounds and disciplines:
    </p>
        <ul>
            <li>Theravada</li>
            <li>Mahayana</li>
            <li>Vajrayana</li>
            <li>Country specific (China, Japan, Mongolia, , Tibet, Vietnam, Thailand, etc)</li>
            <li>Contemporary (neo-Buddhism, media and news, opinions, spiritualism, etc)</li>
            <li>Academic and scientific approach to Oriental & Buddhist studies</li>
        </ul>
  </div>

  <div class="card text-post-card">
    <h2>International Collaboration</h2>
    <p>
        The way that the TBE is structured creates unprecedented opportunities for international collaboration, research and studies.
        TBE is always open for partnerships with academic, monastic, research, and charitable organizations to achieve the goals of
    </p>
        <ul>
            <li>Spreading Buddhism throughout the World in multiple languages</li>
            <li>Enhancing the world's understanding of Buddhist thought and philosophy</li>
            <li>Preserving ancient Buddhist texts</li>
            <li>Connecting Buddhist people, ideas, and resources</li>
        </ul>
  </div>

  <div class="card text-post-card">
    <h2>Preservation Of Buddhism</h2>
    <p>
        All materials added to the TBE are rigorously screened and approved by those who have been studying and practicing Buddhism for several decades.
    </p>
    <p>
        The world is changing rapidly; technology, globalization, the limitation of natural resources, and a growing population all contribute to the increasingly rapid changes that influence the human race and its every aspect, including Buddhism.
    </p>
    <p>
        One of the purposes of the TBE project is the preservation of all traditional Buddhist materials digitally. Besides being an effective online tool, the TBE also acts as an arc for the future preservation of Buddhism, collecting, categorizing, and preserving valuable contributions of the past two millenniums and beyond.
    </p>
  </div>

  <div class="card text-post-card">
    <h2>Buddhism + Youth = Future Of The Buddhism</h2>
    <p>
        It is a fact that people in this contemporary society increasingly use computers and IT infrastructure, therefore one of the main purposes of the TBE is to make Buddhism more easily accessible and user-friendly for the young and future generations, who mostly prefer using digitized materials when compared to hardcopy materials.
    </p>
  </div>