<div class="content" role="main">
    <!-- Resources -->
    <h2>Welcome to Tibetan Buddhist Encyclopedia</h2>
    <p>text-text-text</p>
  
    <div class="card-container">
      <a class="card" rel="noopener" href="">
        <img class="material-icons" width="24" height="24" viewBox="0 0 24 24"
        src = "../assets/article.svg">
        <span>Recent Articles</span>
      </a>
  
      <a class="card" rel="noopener" href="">
        <img class="material-icons" width="24" height="24" viewBox="0 0 24 24"
        src = "../assets/archive.svg">
        <span>Categories</span>
      </a>
  
      <a class="card" rel="noopener" href="">
        <img class="material-icons" width="24" height="24" viewBox="0 0 24 24"
        src = "../assets/star.svg">
        <span>Popular Articles</span>
      </a>
  
    </div>  
